/Class 2/nbproject/private/
/Class 2/build/
/HomeWork2/nbproject/private/
/HomeWork2/build/
/Class3/nbproject/private/
/Class2/nbproject/private/
/Class3/build/
/Class4/nbproject/private/
/Class4/build/
/HomeWork3/nbproject/private/
/HomeWork3/build/
/Class5/nbproject/private/
/Class5/build/
/JavaExam1/nbproject/private/
/JavaExam1/build/